body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 1;
    background-color: #f1efe9;
    overflow-y: scroll
    }

    * {
        box-sizing: border-box;
    }
    
    /* div page */
#page {
min-height: 100vh;
position: relative;
width: 100%;
overflow-x: hidden;
}

header, nav, section, figure {
    display: block;
}

/* header */
header {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

/* nav */

.header__main-wrapper {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 17px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    backface-visibility: hidden;
}

.flex-grid {
    flex-basis: 100%;
}

.text-center {
    text-align: center;
}

.header__fade-slider {
    width: 150px;
    height: 75px;
    margin: 0 auto;
    position: relative;
}
/* removed visibility:hidden */
.header__fade-slider__slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    opacity: 1;
    transition: all 1s ease;
}

.header__fade-slider__slide active {
    visibility: visible;
    opacity: 1;
}

.text-right {
    text-align: right;
}

.header__side-elements {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.header__side-elements a {
    font-size: 12px;
    display: inline-block;
    margin-left: 2.7em;
}

.menu-hamburger {
    width: 24px;
    border: 2px solid #282828;
    border-width: 2px 0;
}

.menu-hamburger:after {
    content: '';
    display: block;
    height: 2px;
    background-color: #282828;
    margin: 3px 0;
}

a {
    text-decoration: none;
    transition: opacity .2s ease-in-out;
}

.cust-btn {
    position: relative;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: .4em;
    color: #282828;
    padding: 5px 24px 5px 0;
}

/* section */
section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

.home-wotd {
    padding-top: 60px;
    margin-bottom: 73px;
}
.container {
    padding: 0 20px;
    margin: 0 auto;
}

.home-wotd__wrapper {
    padding-left: 0;
    padding-right: 0;
}

.home-wotd__date {
    display: block;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .4em;
    line-height: 1.2em;
    margin-bottom: 1.5em;
}
 .home-wotd__middle {
     display: block;
     flex-flow: row nowrap;
     align-items: flex-start;
     -webkit-box-align: start;
 }
 .home-wotd__thumbnail {
     margin-bottom: 50px!important;
     width: 100%;
     text-align: center;
     position: relative;
     z-index: 1;
 }

 .home-wotd__thumbnail img {
     max-width: 100%;
     display: inline-block;
 }

 .home-wotd__thumbnail a {
     position: relative;
     display: inline-block;
 }

  .home-wotd__side {
      display: inline-block;
      width: 50%;
      padding-bottom: 37px;
      vertical-align: baseline;
  }

  .home-wotd__monogram {
      width: 120px;
      max-width: 100%;
      display: block;
      float: left;
      margin: 0 0 0 20px;
    }

    .home-wotd__title, .home-wotd__subtitle, .home-wotd__meta {
        position: relative;
        left: 22px;
    }

    .home-wotd__title {
        margin-top: .95em;
        margin-bottom: .15em;
        overflow: hidden;
        white-space: nowrap;
    }

    .home-wotd__title, .home-wotd__title a {
        color: #282828;
    }

    h3 {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: .075em;
        line-height: 1.3em;
    }

    .home-wotd__subtitle {
        overflow: hidden;
        white-space: nowrap;
    }

    .home-wotd__subtitle, .home-wotd__meta {
        font-weight: 400;
        font-size: 13px;
        line-height: 1.2em;
        letter-spacing: .75em;
    }

    .home-wotd__meta {
        font-size: 12px;
        line-height: 1.6em;
    }

    .home-wotd__meta {
        font-size: 12px;
        line-height: 1.6em;
    }

    .home-wotd__desk.mobile {
        display: block;
        float: right;
        width: 50%;
    }

    .home-wotd__desk {
        padding: 17px 7% 17px 14.3%;
    }

    .home-wotd__desk {
        margin-right: 0;
        margin-left: auto;
    }

    .home-wotd__desk p {
        font-size: 12px;
        letter-spacing: .75em;
        font-weight: 500;
        margin-bottom: 2.3em;
        line-height: 1.2em;
    } 