body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 1;
    background-color: #f1efe9;
    overflow-y: scroll
    }

    * {
        box-sizing: border-box;
    }
    
    /* div page */
#page {
min-height: 100vh;
position: relative;
width: 100%;
overflow-x: hidden;
}

header, nav, section, figure, article {
    display: block;
}

/* header */
header {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

/* nav */

.header__main-wrapper {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 17px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    backface-visibility: hidden;
}

.flex-grid {
    flex-basis: 100%;
}

.text-center {
    text-align: center;
}

.header__fade-slider {
    width: 150px;
    height: 75px;
    margin: 0 auto;
    position: relative;
}
/* removed visibility:hidden */
.header__fade-slider__slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    opacity: 1;
    transition: all 1s ease;
}

.header__fade-slider__slide active {
    visibility: visible;
    opacity: 1;
}

.text-right {
    text-align: right;
}

.header__side-elements {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.header__side-elements a {
    font-size: 12px;
    display: inline-block;
    margin-left: 2.7em;
}

.menu-hamburger {
    width: 24px;
    border: 2px solid #282828;
    border-width: 2px 0;
}

.menu-hamburger:after {
    content: '';
    display: block;
    height: 2px;
    background-color: #282828;
    margin: 3px 0;
}

a {
    text-decoration: none;
    transition: opacity .2s ease-in-out;
    color: #282828;
}

.cust-btn {
    position: relative;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: .4em;
    color: #282828;
    padding: 5px 24px 5px 0;
}

/* section */
section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

.home-wotd {
    padding-top: 60px;
    margin-bottom: 73px;
}
.container {
    padding: 0 20px;
    margin: 0 auto;
}

.home-wotd__wrapper {
    padding-left: 0;
    padding-right: 0;
}

.home-wotd__date {
    display: block;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .4em;
    line-height: 1.2em;
    margin-bottom: 1.5em;
}
 .home-wotd__middle {
     display: block;
     flex-flow: row nowrap;
     align-items: flex-start;
     -webkit-box-align: start;
 }
 .home-wotd__thumbnail {
     margin-bottom: 50px!important;
     width: 100%;
     text-align: center;
     position: relative;
     z-index: 1;
 }

 .home-wotd__thumbnail img {
     max-width: 100%;
     display: inline-block;
 }

 .home-wotd__thumbnail a {
     position: relative;
     display: inline-block;
 }

  .home-wotd__side {
      display: inline-block;
      width: 50%;
      padding-bottom: 37px;
      vertical-align: baseline;
  }

  .home-wotd__monogram {
      width: 120px;
      max-width: 100%;
      display: block;
      float: left;
      margin: 0 0 0 20px;
    }

    .home-wotd__title, .home-wotd__subtitle, .home-wotd__meta {
        position: relative;
        left: 22px;
    }

    .home-wotd__title {
        margin-top: .95em;
        margin-bottom: .15em;
        overflow: hidden;
        white-space: nowrap;
    }

    .home-wotd__title, .home-wotd__title a {
        color: #282828;
    }

    h3 {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: .075em;
        line-height: 1.3em;
    }

    .home-wotd__subtitle {
        overflow: hidden;
        white-space: nowrap;
    }

    .home-wotd__subtitle, .home-wotd__meta {
        font-weight: 400;
        font-size: 13px;
        line-height: 1.2em;
        letter-spacing: .75em;
    }

    .home-wotd__meta {
        font-size: 12px;
        line-height: 1.6em;
    }

    .home-wotd__meta {
        font-size: 12px;
        line-height: 1.6em;
    }

    .home-wotd__desk.mobile {
        display: block;
        float: right;
        width: 50%;
    }

    .home-wotd__desk {
        padding: 17px 7% 17px 14.3%;
    }

    .home-wotd__desk {
        margin-right: 0;
        margin-left: auto;
    }

    .home-wotd__desk p {
        font-size: 12px;
        letter-spacing: .75em;
        font-weight: 500;
        margin-bottom: 2.3em;
        line-height: 1.2em;
    } 

    .home-wotd__scores {
        width: calc(100% + 40px);
        margin: 0 --20px;
        background-color: #E2DED1;
    }

    .home-wotd__scores-top {
        padding-top: 47px;
    }
    .home-wotd__judges {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: auto;
        margin: 0 auto;
        padding: 0;
    } 

    .singel-judge {
        position: relative;
        margin: 0;
    }

    .singel-judge img {
        display: block;
    }

    .home-wotd__scores-bottom {
        padding: 37px 17px 48px;
    }

    .home-wotd__scores-bottom .vote__item {
        flex: 0 0 24%;
    }

    .vote-list {
        display: flex;
    }

    ol, ul {
        list-style: none;
    }
    
    .vote__item {
        display: block;
        position: relative;
        text-align: center;
    }

    .home-wotd__scores-bottom .vote__circle {
margin-bottom: -1px;
transform: scale(.8);
    }

    .vote__circle {
        display: inline-block;
        vertical-align: top;
        width: 1em;
        height: 1em;
        position: relative;
        background-color: #c1bdb3;
        border-radius: 50%;
        font-size: 50px;
    }

    .vote__circle:after {
        content: " ";
        display: block;
        position: absolute;
        top: 0.8em;
        left: 0.8em;
        bottom: 0.8em;
        right: 0.8em;
        border-radius: 50%;
    }

    .vote__caption {
        font-weight: 700;
    }

    .home-wotd__scores-bottom .vote__cat {
font-size: 11px;
    }

    .vote__cat {
        text-transform: uppercase;
    }

    .vote__cat, .vote__score {
        text-align: 16px;
        letter-spacing: .35em;
    }

    .home-wotd__scores-bottom .vote__scope {
        font-size: 14px;
    } 

    .home-wotd__scores-bottom .vote__summary-item {
        padding: 2px 30px 0 0;
        flex: 0 0 28%;
    }

    .vote__summary {
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vote__summary span {
        font-size: 24px;
        font-weight: 800;
        letter-spacing: .075em;
    }

    /* section class="home-projects" */

    .home-projects, .container {
        width: 100%;
    }

    .home-projects h2 {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 5.6em;
    }

    .cust-btn {
        display: inline-block;
        position: relative;
        text-decoration: none;
        font-weight: 800;
        letter-spacing: .4em;
        color: #282828;
        z-index: 0;
        padding: 5px 24px 5px 0;
    }

    .cust-btn.arrow-icon:after {
        content: '';
        display: block;
        background-image: url(https://www.cssdesignawards.com/imgs/arrow-right.svg);
        background-size: 100% 100%;
        background-position: center center;
        width: 22px;
        height: 6px;
        position: absolute;
        right: -12px;
        top: 50%;
        margin-top: -3px;
    }

    .cust-btn.arrow-icon::before {
        content: ' ';
        display: block;
        width: 80px;
        height: 125%;
        position: absolute;
        bottom: -5px;
        right: 0;
        z-index: -1;
        background-color: #d4c6e6;
        transition: all .4s ease;
    }

    .projects-list {
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        vertical-align: baseline;
    }

    .single-project {
        width: 50%;
        padding: 0 20px;
        margin-bottom: 102px;
    }

    .single-project > div {
        display: block;
        margin: 0 auto;
        width: 360px;
        max-width: 100%;
    }

    .single-project__thumbnail {
        display: block;
        position: relative;
        margin-bottom: 27px;
    }

    .single-project__thumbnail img {
        max-width: 100%;
    }

    .single-project__thumbnail__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: scale(1.02);
        transition: all .3s ease;
        pointer-events: none;
        background-color: rgba(40,40,40,.92);
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .single-project__meta {
        position: absolute;
        top: 25px;
        left: 25px;
        color: #e5e0d5;
        font-size: 10px;
    }

    .sp__full-size-link {
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
    
    .sp__project__link {
        top: 25px;
        right: 25px;
        opacity: 1;
        transition: all .3s ease;
        z-index: 3;
    }

    .sp__full-size-link, .sp__project__link {
        position: absolute;
        display: block;
        pointer-events: all;
    }

    .sp__view-info {
        display: block;
        color: #e5e0d9;
        font-size: 14px;
        font-weight: 700;
        pointer-events: all;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        letter-spacing: .4em;
    }

    .sp__view-info::after {
        content: '';
        display: inline-block;
        width: 22px;
        height: 10px;
        background-image: url(https://www.cssdesignawards.com/imgs/arrow-right-white.svg);
        margin-left: 10px;
    }

    .single-project__title, .single-project__title a {
        color: #282828;
    }

    .single-project__title {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: .065em;
        margin-bottom: .4em;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
    }

    .single-project__title::before {
        background: linear-gradient(to left #f1efe9,rgba(241,239,233,0));
        opacity: 0;
    }

    .single-project__title::before, .single-project__title::after {
        content: " ";
        display: block;
        width: 40px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        transition: opasity .3s ease-in-out;
    }

    .single-project__scores {
        font-size: 10px;
        font-weight: 600;
        letter-spacing: .075em;
    }

    .sp__single-score {
        display: inline-block;
        margin-right: 15px;
    }

    .sp__single-score:not(.jpanel):not(.active)::before {
        background-image: url(https://www.cssdesignawards.com/imgs/icon-trophy-light.svg);
    }

    .sp__single-score:not(.jpanel)::before {
        content: " ";
        display: inline-block;
        width: 12px;
        height: 11px;
        background-size: cover;
        vertical-align: -2px;
        margin-right: 4px;
    }