body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 1;
    background-color: #f1efe9;
    overflow-y: scroll
    }

    * {
        box-sizing: border-box;
    }
    
    /* div page */
#page {
min-height: 100vh;
position: relative;
width: 100%;
overflow-x: hidden;
}

header nav section {
    display: block;
}

/* header */
header {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

/* nav */

.header__main-wrapper {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 17px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    backface-visibility: hidden;
}

.flex-grid {
    flex-basis: 100%;
}

.text-center {
    text-align: center;
}

.header__fade-slider {
    width: 150px;
    height: 75px;
    margin: 0 auto;
    position: relative;
}
/* removed visibility:hidden */
.header__fade-slider__slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    opacity: 1;
    transition: all 1s ease;
}

.header__fade-slider__slide active {
    visibility: visible;
    opacity: 1;
}

.text-right {
    text-align: right;
}

.header__side-elements {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.header__side-elements a {
    font-size: 12px;
    display: inline-block;
    margin-left: 2.7em;
}

.menu-hamburger {
    width: 24px;
    border: 2px solid #282828;
    border-width: 2px 0;
}

.menu-hamburger:after {
    content: '';
    display: block;
    height: 2px;
    background-color: #282828;
    margin: 3px 0;
}

a {
    text-decoration: none;
    transition: opacity .2s ease-in-out;
}

.cust-btn {
    position: relative;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: .4em;
    color: #282828;
    padding: 5px 24px 5px 0;
}

/* section */
section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

.home-wotd {
    padding-top: 60px;
    margin-bottom: 73px;
}
.container {
    padding: 0 20px;
    margin: 0 auto;
}

.home-wotd-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.home-wotd-wrapper {
    display: block;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .4em;
    line-height: 1.rem;
    margin-bottom: 1.5rem;
}